<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Om Os</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/about-us.css}">
</head>
<body>

  <div th:replace="~{header :: header}"></div>


<main>
  <section class="about-description">
    <h2>ARSA Interactive</h2>
    <p>Vi er en virksomhed, der fokuserer på bæredygtighed og blablalabal.</p>
  </section>

  <section class="about-section">
    <h2>Vores team</h2>
    <div class="about-row">

      <div class="about-column">
        <div class="about-card">
          <img src="/images/about-pics/Alexander.jpg" alt="Alexander">
          <div class="about-content">
            <h3>Alexander Örn Birgisson</h3>
            <p class="title">Developer</p>
            <div class="about-infobox">
              <p>Fact: Island <br>Hobby: Alt og ingenting <br>Yndlingsdyr: Hund</p>
              <p>Alexander@example.com</p>
            </div>
            <button class="about-button">Contact</button>
          </div>
        </div>
      </div>

      <div class="about-column">
        <div class="about-card">
          <img src="/images/about-pics/Andreas.jpg" alt="Andreas">
          <div class="about-content">
            <h3>Andreas Gabel</h3>
            <p class="title">Scrum Master</p>
            <div class="about-infobox">
              <p>Fact: Søværnet <br>Hobby: Lykkeligt parforhold <br>Yndlingsdyr: En reje</p>
              <p>Andreas@example.com</p>
            </div>
            <button class="about-button">Contact</button>
          </div>
        </div>
      </div>

      <div class="about-column">
        <div class="about-card">
          <img src="/images/about-pics/Rasmus.jpg" alt="Rasmus">
          <div class="about-content">
            <h3>Rasmus Mellerkaer</h3>
            <p class="title">Developer</p>
            <div class="about-infobox">
              <p>Fact: Navn staves med 2 s'er <br>Hobby: Træning <br>Yndlingsdyr: Los</p>
              <p>Rasmus@example.com</p>
            </div>
            <button class="about-button">Contact</button>
          </div>
        </div>
      </div>

      <div class="about-column">
        <div class="about-card">
          <img src="/images/about-pics/Sofie.jpg" alt="Sofie">
          <div class="about-content">
            <h3>Sofie Nakskov</h3>
            <p class="title">Product Owner</p>
            <div class="about-infobox">
              <p>Fact: For mange hobbyer <br>Hobby: For mange <br>Yndlingsdyr: Vandrende pind</p>
              <p>Sofie@example.com</p>
            </div>
            <button class="about-button">Contact</button>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>


  <!-- ======== FOOTER ======== -->
  <div th:replace="~{footer :: footer}"></div>
  <script th:src="@{/js/burgermenu.js}"></script>

</body>
</html>