<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/icons/favicon.png">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
    <h1>Ups! Noget gik galt!</h1>
    <a href="https://http.cat/102"> <!-- TROLL1 -->
    <img src="https://http.cat/{statusCode}" class="cat-image" alt="Fejl kat"> <!-- TROLL2 -->
    </a>
    <p>Hvis du har brug for hjælp, <a href="https://http.cat/523" id="kontakt-link">kontakt support!</a></p> <!-- TROLL3 -->
</div>

</body>
</html>