<header>
  <div class="logo"> <!-- Har ikke created i CSS, kommer an på hvad vi gør med div-->
    <!-- Hvis vi vil have logo/tekst eller lignende, ellers sletter vi div -->
    <h1>ARSA Interactive</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/register">Opret bruger</a></li>
      <li><a href="/login">Log ind</a></li>
      <li><a href="/">Hjem</a></li>
      <li><a href="/wishlists">Ønskeslister</a></li>
      <li><a href="/findNogetSmartEndPoint">Delte ønskeslister</a></li>
    </ul>
  </nav>
</header>
