<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <name>Ønske Detaljer</name>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{header}"></div>

<!-- ======== ITEM DETAILS ======== -->
<div class="item-details">
    <h1 th:text="${item.name}">Produktnavn</h1>
    <p th:text="${item.description}">Produktbeskrivelse</p>
    <p>Pris: <span th:text="${item.price}">0.00</span> DKK</p>
    <a th:href="@{${item.link}}" target="_blank">Se produkt</a>
</div>

<div th:replace="~{footer}"></div>
</body>
</html>