<!--
    ===========================================
    =            user registration form       =
    ===========================================
                                               -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
  <head>
    <meta charset="UTF-8">
    <title>Opret profil</title>
      <link rel="stylesheet" th:href="@{/css/styles.css}">
      <link rel="stylesheet" th:href="@{/css/register.css}">
  </head>



  <body>
  <!-- ======== HEADER TEMPLATE ======== -->
  <div th:replace="~{header}"></div>

    <!-- ======== FEEDBACK MESSAGES (FLASH) ======== -->
  <!-- Viser enten succes- eller fejlbesked fra backend -->
    <div class="feedback-wrapper">
      <div th:if="${successMessage}" class="feedback success" th:text="${successMessage}"></div>
      <div th:if="${errorMessage}" class="feedback error" th:text="${errorMessage}"></div>
    </div>

    <div class="register-container">
      <h2>Opret Profil</h2>
      <form th:action="@{/register}" method="post" th:object="${user}">


          <label for="name">Navn</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Indtast navn" required maxlength="50"
                     pattern="[A-Za-zÆØÅæøå ]+"
                     title="Indtast et gyldigt navn (kun bogstaver og mellemrum)">
          <!-- pattern sørger for at email/password er rigtigt oprettet (xxx@xxx.xx)-->
          <!-- noget før og efter '@', men også efter '.' == required -->
          <label for="email">Email</label>
          <input type="email" id="email" th:field="*{email}" placeholder="Indtast e-mailadresse" required maxlength="50"
                 pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
                 title="Indtast en gyldig e-mailadresse (skal indeholde @ og .)">
          <label for="password">Adgangskode</label>
          <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Opret adgangskode"
                 minlength="8"
                 pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,}$"
                 title="Adgangskoden skal være mindst 8 tegn lang og indeholde en blanding af store og små bogstaver samt tal."
                 required>
          <button type="submit" class="submit-button">Opret</button>
        </form>
    </div>

  <!-- ======== FOOTER ======== -->
  <div th:replace="~{footer}"></div>
  </body>


</html>