

<!-- OBS TEMPO -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delte ønskesedler</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="content-wrapper">
  <h2>Delte ønskesedler</h2>
  <p>Her vil du kunne se ønskesedler, der er delt med dig.</p>
  <!-- Content for shared wishlists will be added later -->
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>


