<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delte ønskesedler</title>
  <link rel="icon" type="image/png" href="../images/icons/favicon.png">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="content-wrapper">
  <h2 style="text-align: center;">Delte ønskesedler</h2>
  <p style="text-align: center;">Her vil du kunne se ønskesedler, du har delt med andre.</p>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>


