<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <name>Opret ønskeseddel</name>
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="~{header}"></div>

<h2>Opret ny ønskeseddel</h2>

<form th:action="@{/wishlist-form}" th:object="${wishlist}" method="post">
    <label for="name">Navn på ønskesedlen:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <button type="submit">Opret</button>
</form>

<div th:replace="~{footer}"></div>

</body>
</html>
